<form action="/auth/login" method="post">
        <label for="">Correo electrónico:
          <input type="text" name="email">
        </label>
        <label for="">Password:
          <input type="password" name="password">
        </label>
        <button type="submit">Login</button>
</form>

<p style="color:red">{{err}}</p>