<form action="/auth/register" method="post">
  <label for="">Nombre de usuario</label>
  <input type="text" name="username">
  <label for="">Correo electrónico</label>
  <input type="email" name="email">
  <label for="">Contraseña</label>
  <input type="password" name="password">
  <label for="">Confirma tu contraseña</label>
  <input type="password" name="password-confirm">
  <button type="submit">Enviar</button>
</form>
<p style="color:red">{{error}}</p>