<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css"  />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>
<body>
  <nav class="light-blue">{{#if user}}
      <a href="/main/{{user._id}}">Mi perfil</a>
    {{/if}}</nav>
    
  {{{body}}}
   <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
 
 
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
  <script src="/javascripts/script.js"></script>

</body>
</html>