
<form method="post" action="/edit/{{document._id}}">
    <label for="">Título: </label>
    <input type="text" name="name" value="{{document.name}}">
    <label for="">Descripción: </label>
    <input type="text" name="description" value="{{document.description}}">
    <textarea name="content" id="mytextarea">{{document.content}}</textarea>
     <p>
      <label>
        <input name="saveAsNew" type="radio" value="false" checked />
        <span>Guardar en la misma versión</span>
      </label>
    </p>
    <p>
      <label>
        <input name="saveAsNew" type="radio" value="true" />
        <span>Guardar como una nueva versión</span>
      </label>
    </p>
      {{!-- <p>  <label> <input type="radio" name="saveAsNew" value="false" checked/> Guardar en la misma versión</label> </p>
     <p><label> <input type="radio" name="saveAsNew" value="true"/> Guardar como una nueva versión </label></p> --}}
    <button class="btn waves-effect waves-light" type="submit">Guardar</button>
    
  </form>

