
<form method="post" action="/edit/{{document._id}}">
    <label for="">Título: </label>
    <input type="text" name="name" value="{{document.name}}"">
    <label for="">Descripción: </label>
    <input type="text" name="description">
    <textarea name="content" id="mytextarea">{{info}}</textarea>
    <button type="submit">Guardar</button>
  </form>

