<a href="/auth/logout">Logout</a>
<h2>Perfil de {{user.username}}</h2>
<div>
  <h3>Tus repositorios</h3>
  <ul>
    {{#each repositories}}
      <li><a href="/repositories/{{this._id}}">{{this.name}}</a></li>
        <form action="/delete/{{this.id}}" method="post"><button>Borrar</button></form>
    {{/each}}
  </ul>
</div>
<div>
  <h3>Crea un repositorio</h3>
  <form action="/create-repository" method="POST">
    <label for="">Nombre: </label>
    <input type="text" name="name">
    <label for="">Descripción: </label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <button type="submit">Crear repositorio</button>
  </form>
</div>