

body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail {
  height: 55px;
  padding-top: 9px;
  width: 60%;
}

.logo{
  margin: auto;
  width: 48%;
  height: 62vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo{
  height: 50%;
}